body {
  font-family: 'Siyam Rupali', sans-serif;
  background: #f0f0f0;
  text-align: center;
}
.container {
  background: white;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, button {
  margin: 10px;
  padding: 10px;
  width: 90%;
}
button {
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background: darkgreen;
}
